* { padding:0; margin:0; }
html{ font:14pt normal Arial, sans-serif; color:#658321; background-color:#fff; }
body{ padding:10pt; text-align: left; }
ul{ list-style:none; display: inline-block; }
ul li{ display: inline-block; padding: 10pt 20pt; cursor:pointer; background-color:#eee; color:#156831; transition:0.3s; }
ul li:hover{ background-color:#beecea; }
ul li.selected{ color:#fff; background-color:#3b5998; }
p{ padding-top:15pt; font-size:12pt; }

.left-menu-top{
  padding: 25pt 0pt;
}
.left-menu-item{
  border-radius: 14pt;
  padding: 5pt 20pt;
}
.left-menu-item:hover{
  background-color:#beecea;
}
.left-menu-item.selected{
  color:#fff;
  background-color:#fb5998;
}

.inline{
  display: inline-block;
}
.top{
  vertical-align: top;
}
.login{
  display: inline-block;
  background-color:#3bff98;
}
